.borderedLink {
	border: 1px solid grey;
	width: fit-content;
	background-color: white;
	opacity: 1;
	color:black;
}

.borderedLink.current {
	background-color: darkgray;
	color:white;
  }

.linkText {
	margin: 5px;
}

@media (hover:hover) {
	.borderedLink:hover {
    	background-color: lightgray;
		color:black;
	}
}