.aboutPageMain h2 {
    margin-top:30px;
}

.aboutPageMain a:hover {
    text-decoration: underline;
}

.aboutPageMain h3 {
    margin-left:20px;
}

.aboutPageMain {
    margin-bottom:50px;
}

.aboutPageMain ul {
    padding: revert;
}

.aboutPageMain li {
    position:relative;
}

.aboutPageMain ul li::before {
    position:absolute;
    left:-20px;
    vertical-align: middle;
    content: "\25a0";
    color:rgba(0,0,0,0.6);
}

.aboutPageMain * {
    margin:revert;
}

.aboutPageLandingBanner {
    background:  url("../../public/002-6ph3m1vnnw7ir.webp");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: 0px 50px;
	background-position-y: 50%;
	height: 60vh;
}

.text {
    max-width: 80ch;
    margin:auto;
}

@media screen and (max-height:880px) {
	.aboutPageLandingBanner {
		max-height: calc(100vh - 64px);
	}
}