.accountPageMain {
    display:flex;
    align-items: center;
}

.accountPageContent {
    margin:auto;
}

.accountPageContent h1 {
    margin-bottom: 30px;
    width:fit-content;
}

.accountSettingsMenu {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap:20px;
    column-gap:20px;
    width:fit-content;
    margin: auto;
}

.accountSettingsMenu > li {
    padding:10px;
    background-color: #eeeeee;
}

.accountSettingsMenu > li img {
    height:200px;
    width:auto;
    margin:auto;
    opacity: 0.6;
}

.accountSettingsMenu > li .borderedLink {
    width:100%;
}

@media (hover:hover) {
    .accountSettingsMenu button h3:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width:560px) {
    .accountPageMain {
        display: initial;
    }

    .accountSettingsMenu {
        flex-direction: column;
        row-gap:20px;
    }

    .accountSettingsMenu > li {
        display:flex;
        column-gap:20px;
        align-items: center;
    }

    .accountSettingsMenu > li img {
        height: 50px;
        width:50px;
    }
}
