.accountPageMain h1 {
    margin-bottom:20px;
    width: fit-content;
}

.accountPageMain {
    width: max-content;
}

.accountPageContent {
    margin:auto;
}

.accountPageContent:not(:first-child) {
    margin-top: 2em;
}

.accountPageContent h2 {
    margin-bottom: 15px;
    width:fit-content;
}

.accountSettingsMenu {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap:20px;
    column-gap:20px;
    width:fit-content;
}

.accountSettingsMenu > li {
    height: 168px;
    aspect-ratio: 1.35;
    display:flex;
    flex-direction:column;
    row-gap:10px;
    padding:10px;
    background-color: #eeeeee;
}

.accountSettingsMenu > li img {
    height:100px;
    width:auto;
    margin:auto;
    opacity: 0.6;
}

.accountSettingsMenu > li > figure {
    margin:auto;
    height:100px;
    width:100px;
    position:relative;
}

.accountSettingsMenu > li .borderedLink {
    text-align: center;
    width:100%;
}

@media (hover:hover) {
    .accountSettingsMenu button h3:hover {
        text-decoration: underline;
    }
}

@media screen and (max-height: 980px) {
	.accountSettingsMenu > li {
		aspect-ratio: 1.55;
		height: 148px;
	}
	.accountSettingsMenu > li figure {
		height: 80px;
		width: 80px;
	}
}

@media screen and (max-width:560px) {
    .accountSettingsMenu {
        flex-direction: column;
        row-gap:15px;
        margin: auto;
    }

    .accountSettingsMenu > li {
        height:auto;
        aspect-ratio: auto;
        flex-direction: row;
        column-gap:20px;
        align-items: center;
    }

    .accountSettingsMenu > li > .borderedLink {
        text-align: left;
    }

    .accountSettingsMenu > li > figure {
        height: 50px;
        width:50px;
    }
}
