.accountPageMain h1 {
    margin-bottom:20px;
}

.accountPageMain .loadingSpinnerContainer {
    position:sticky;
    top:100%;
}

.accountPageContent {
    margin:auto;
}

.accountPageContent h2 {
    margin-bottom: 20px;
    width:fit-content;
}

.accountSettingsMenu {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap:20px;
    column-gap:20px;
    width:fit-content;
    margin: auto;
}

.accountSettingsMenu > li {
    padding:10px;
    background-color: #eeeeee;
}

.accountSettingsMenu > li img {
    height:100px;
    width:auto;
    margin:auto;
    opacity: 0.6;
}

.accountSettingsMenu > li > figure {
    margin:auto;
    height:100px;
    width:100px;
    position:relative;
}

.accountSettingsMenu > li .borderedLink {
    margin-top: 10px;
    width:100%;
}

@media (hover:hover) {
    .accountSettingsMenu button h3:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width:560px) {
    .accountSettingsMenu {
        flex-direction: column;
        row-gap:20px;
    }

    .accountSettingsMenu > li {
        display:flex;
        column-gap:20px;
        align-items: center;
    }

    .accountSettingsMenu > li > figure {
        height: 50px;
        width:50px;
    }
}
