.align-items-center {
    align-items:center;
}

.headerMain {
    width:calc(100vw - 40px);
    max-width: var(--max-main-width);
    margin:auto;
    display:flex;
    align-items:center;
    position:relative;
}

header {
    background-color: #224789;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

header nav {
    margin-left:auto;
}

.headerLogo {
    max-height: 60px;
    width:auto;
}

.menuItems {
    position:relative;
    height: 76px;
    display:flex;
    align-items: center;
    font-size: 13pt;
}

.menuItems, .loginSection {
    column-gap: 20px;
}

.menuItems {
    color: white;
}

.menuItems > li:last-child {
    min-width: 56px;   
}

.menuItems > li:last-child img {
    margin:auto;
}

.dropDownItem {
    font-size:14pt;
    margin:0px 10px 0px 10px;
}

.dropDownItem:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

@media (hover:hover) {
    .menuItems a:hover, header button:hover, .loginSection button:hover, .loginSection a:hover, .dropDownItem a:hover {
        color: #ffcc00;
    }
}

.current a {
    text-decoration: underline;
}

.MenuIcon {
    height:100%;
    display:none;
}

.MenuIcon img {
    filter:invert(1)
}

li.mobile b {
    text-align: center;
}
.displaynone { display: none;}

.dropdown {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.DropdownMenuRight {
    right:0px;
}

.DropdownMenuRight li * {
    display:block;
    margin-left:auto;
}

.DropdownMenuLeft {
    left:0px;
}

.DropdownMenu {
    color:black;
    background-color: #f5f5f5;
    border: 1px solid grey;
    border-radius:4px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    position:absolute;
    top:calc(100% + 5px);
    z-index: 40;
    width: max-content;
    max-width:calc(100vw - 40px);
}

.menuIconContainer {
    height:76px;
    position:relative;
    width: 36px;
}

.dropDownItem * {
    display:block;
    margin:10px 0px 10px 0px;
    width:fit-content;
    max-width: 100%;
    word-wrap: break-word;
    
}

@media screen and (max-width: 930px) {
    .MenuIcon {
        display: unset;
    }

    .desktop {
        display:none;
    }
    .headerLogo {
        margin-left:20px;
    }

    .userNameButton {
        font-size:11pt;
        height: 52px;
        width: 52px;
        border-radius: 100%;
        border: 1px solid white;
    }
}

@media screen and (min-width: 931px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-height:880px) and (min-width: 435px) {

    .menuItems, .menuIconContainer {
        height: 66px;
    }

    .headerLogo {
        max-height: 50px;
    }
}