.align-items-center {
    align-items:center;
}

header {
    background-color: #224789;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

header nav {
    margin-left:auto;
}

header img {
    max-height: 60px; 
    max-width: 60px; 
}

.menuItems {
    margin-right:20px;
    position:relative;
    height: 76px;
    display:flex;
    align-items: center;
    font-size: 13pt;
}

.menuItems, .loginSection {
    column-gap: 20px;
}

.menuItems, .MenuIcon {
    color: white;
}

/*.dropDownItem, .menuItems {
    
}*/

.dropDownItem {
    font-size:14pt;
}

@media (hover:hover) {
    .menuItems a:hover, header button:hover, .loginSection button:hover, .loginSection a:hover, .dropDownItem a:hover {
        color: #ffcc00;
    }
}


.current a {
    text-decoration: underline;
}

.MenuIcon {
    height:100%;
    font-size: 45px;
    display:none;
    width:100%;
    text-align: center;
}

li.mobile b {
    text-align: center;
}
.displaynone { display: none;}

.dropdown {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.DropdownMenuRight {
    right:0px;
}

.DropdownMenuRight li * {
    display:block;
    margin-left:auto;
}

.DropdownMenuLeft {
    left:0px;
}

.DropdownMenu {
    color:black;
    background-color: #eeeeee;
    border: 1px solid grey;
    border-radius:2px;
    position:absolute;
    top:calc(100% + 5px);
    z-index: 40;
    width: max-content;
    max-width:calc(100vw - 40px);
}

.menuIconContainer {
    margin-left:20px;
    height:76px;
    position:relative;
    width: 36px;
}

.DropdownMenu > li {
    margin:15px;
}

.DropdownMenu > li * {
    width:fit-content;
    max-width: 100%;
    word-wrap: break-word;
    
}

@media screen and (max-width: 600px) {
    .MenuIcon {
        display: unset;
    }

    .desktop {
        display:none;
    }

    .userNameButton {
        font-size:11pt;
        height: 52px;
        width: 52px;
        border-radius: 100%;
        border: 2px solid white;
    }

    .userNameButton:hover {
        border-color: #ffcc00;
    }

    .DropdownMenu {
        width:calc(100vw - 40px);
    }
}

@media screen and (min-width: 601px) {
    .mobile {
        display: none;
    }
    
    header img {
        margin-left:20px;
    }
}

@media screen and (max-height:880px) {

    .menuItems {
        height: 74px;
    }

    header img {
        max-width: 50px;
        max-height: 50px;
    }
}