.AnnouncmentsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 25px;
	row-gap: 25px;
	margin-top: 20px;
	margin-bottom:7px;
	width: 100%;
}

.announcment {
	padding:7px;
	background-color: var(--grey-card-background);
	border-radius: 2px;
}

.announcment a {
	border: unset;
}

.announcment p {
	margin-bottom: 5px;
}

.announcmentInfo {
	font-size:9pt;
}

.announcment a:hover {
	text-decoration: underline;
	background-color: unset;
}

.announcment h3, .announcmentImageContainer {
	margin-bottom: 10px;
}

.announcmentImage {
	height: 180px;
	width:100%;
	object-fit: cover;
}

.announcmentImageContainer {
	background-color: white;
	position:relative;
	height: 220px;
	width:100%;
}

@media screen and (max-width: 480px) {
	.announcment {
		width:100%;
	}
	.mobile-no-thumbnail .announcmentImageContainer {
		display:none
	}

	.mobile-no-summary .announcmentText {
		display: none;
	}

	.AnnouncmentsContainer {
		grid-template-columns: 1fr;
	}

	.announcmentImageContainer {
		height: 180px;
	}
}

@media screen and (min-width:481px) and (max-width: 820px) {
	.AnnouncmentsContainer {
		grid-template-columns: 1fr 1fr;
	}
}

