.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	column-gap: 25px;
	row-gap: 25px;
	margin-top: 20px;
	width: 100%;
}

.h1 {
	margin-bottom: 0.5em;
}

.addFormLink {
	margin-left:auto;
}

.addFormLink, .buttons {
	margin-top: 30px;
	margin-bottom: 1.8em;
}

.centerHorizontally {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	position: sticky;
	top: 100%;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 480px) {
	.buttons {
		flex-direction: column;
		row-gap: 8px;
	}
}