@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --max-main-width: 1320px;
  --grey-card-background: #eceaea8a
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('../public/fonts/LucidaGrande.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../public/fonts/georgia.ttf') format('truetype');
  font-weight: normal;
}

main {
  width: calc(100% - 40px);
  max-width: var(--max-main-width);
  margin: 40px auto 40px auto;
  flex:1;
}

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:12pt;
  min-height: 100vh;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  /*color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
}

h1, h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: normal;
}

h1 {
  font-size:28pt;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size:14pt;
}

@media screen and (max-width:480px) {
  body {
    justify-content: flex-start;
  }
  
}