@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  max-width: 1250px;
  margin: auto;
  margin-top: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /*color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1.HomePageLargeTitle {
  font-size:40px;
}

h2 {
  font-size:18pt;
}

h3 {
  font-size: 16pt;
}

article h3 {
  margin-bottom: 10px;
}

.pagesNavigation {
  display: flex;
  justify-content: center;
  align-items:center;
  column-gap:10px;
  margin-top: 20px;
}

.pagesNavigation span {
  width: 130px;
}

.pagesNavigation a {
  padding: 3px;
  background-color: lightgray;
  width: 85px;
  text-align: center;
}

.pagesNavigation a.hidden {
  visibility: hidden;
}

.HomePageBanner {
  display: flex;
  margin-bottom: 70px;
}

.HomePageAnnouncmentsBanner {
  margin-bottom: 70px;
}

.allignSelfRight {
  display: flex;
  justify-content: end;
  width:100%;
}
.HomePageBanner {
  column-gap: 30px;
}

.HomePageBanner img {
  max-width: 50%;
  
}

.HomePageBannerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%
}

.textContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom:15px;
}

.HomePageAnnouncmentsBanner a, .HomePageBannerTextContainer a {
  padding: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  width: fit-content;
}

.HomePageAnnouncmentsBanner a:hover, .HomePageBannerTextContainer a:hover {
  background-color: lightgray;
  /*color: white;*/
}

.AnnouncmentsContainer {
  display: flex;
  justify-content: space-between;
}

.AnnouncmentsContainer .announcment {
  width:23%;
}

.announcment p {
  text-align: justify;
  margin-bottom: 5px;
}