@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --max-main-width: 1320px;
  --grey-card-background: #eceaea8a
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  min-height: calc(45vh - 74px);
  position:relative;
  width: calc(100% - 40px);
  max-width: var(--max-main-width);
  margin: 40px auto 40px auto;
}

.displayNone {
  display:none;
}

body {
  font: 15px / 22px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, sans-serif;
  min-height: 100vh;
  position: relative;
  /*color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
}

._80ch {
  max-width:80ch;
}

h1, h2, h3, h4 {
  font-family: "Georgia", Times New Roman, Times, serif;
  line-height: normal;
}

h1 {
  font-size:26pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size:14pt;
}