h1.HomePageLargeTitle {
	font-size: 40px;
}

.homePageMain {
	margin-top:auto;
}

.generalInfoContainer, .landingBanner {
	display: flex;
	column-gap: 30px;
}

.landingBanner {
	background:  url("../public/pozadina.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: 0px 50px;
	background-position-y: 50%;
	height: 60vh;
}

.generalInfoContainer {
	width:100%;
}

.HomePageBanner,
.HomePageAnnouncmentsBanner {
	margin-bottom: 40px;
}

.HomePageAnnouncmentsBanner {
	margin-top:20px;
}


.marginLeftAuto {
	margin-left: auto;
}

.displayBlock {
	display: block;
}

.HomePageBanner h1 {
	margin-bottom:20px;
}

.HomePageBannerTextContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.textContainer {
	width: fit-content;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	margin-bottom: 15px;
}

.textContainerContainer .textContainer {
	margin: 20px;
}

.textContainerContainer {
	height:80%;
	margin-left: auto;
	margin-right: 20px;
	margin-top: auto;
	margin-bottom: auto;
	background-color:rgba(255, 255, 255, 0.85);
	display: flex;
	align-items: center;
}

h2 {
	margin-bottom: 10px;
}

.imageContainer {
	position:relative;
	margin-bottom: 5px;
	height:240px;
	width:100%;
}

.imageAndLinkContainer {
	width:30%;
}

.imageAndLinkContainer a:hover {
	text-decoration: underline;
}

@media screen and (max-width:434px) {
	.generalInfoContainer {
		flex-direction: column;
		row-gap:20px;
	}
}


@media screen and (max-width:1100px) {
	.imageAndLinkContainer {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {

	.textContainerContainer {
		height: unset;
		margin-right: auto;
	}

}

@media screen and (max-height:880px) {
	.landingBanner {
		max-height: calc(100vh - 64px);
	}
}

@media screen and (max-height:480px) {
	.textContainerContainer {
		height: auto;
	}
}