h1.HomePageLargeTitle {
	font-size: 40px;
}

.HomePageBanner {
	display: flex;
}

.HomePageBanner,
.HomePageAnnouncmentsBanner {
	margin-bottom: 70px;
}

.marginLeftAuto {
	margin-left: auto;
}

.displayBlock {
	display: block;
}

.fitContent {
	width:fit-content;
}

.HomePageBanner {
	column-gap: 30px;
}

.HomePageBanner img {
	max-width: 65%;
	height:auto;

}

.HomePageBannerTextContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%
}

.textContainer {
	width: fit-content;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	margin-bottom: 15px;
}

.borderedLink {
	border: 1px solid grey;
	width: fit-content;
}

.linkText {
	margin: 5px;
}

.HomePageAnnouncmentsBanner a:hover, .HomePageBannerTextContainer a:hover {
	background-color: lightgray;
	/*color: white;*/
}

.AnnouncmentsContainer {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	margin-top: 20px;
	width: 100%;
}

.announcment {
	flex: 1;
}

.announcment a {
	border: unset;
}

.announcment p {
	margin-bottom: 5px;
}

.announcment a:hover {
	text-decoration: underline;
	background-color: unset;
}

h2, h3, .announcmentImage {
	margin-bottom: 7px;
}

.announcmentImage {
	height: 180px;
	width:100%;
	object-fit: cover;
}

@media screen and (max-width: 600px) {
	main {
		max-width: 90%;
	}

	.AnnouncmentsContainer,
	.HomePageBanner {
		flex-direction: column;
		row-gap: 25px;
	}

	.announcmentText {
		display: none;
	}

	.Reverse {
		flex-direction: column-reverse;
	}

	.HomePageBanner img {
		max-width: 100%;
	}

	.announcment {
		width: 100%;
	}
}