.loadingMessage {
    max-width:80ch;
    text-align: center;
}

main > .loadingSpinnerContainer {
    display:flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    position:sticky;
    top:100%;
    width:fit-content;
}

@media screen and (max-width:434px) {
    main > .loadingSpinnerContainer {
        position:initial;
        min-height: calc(45vh - 64px - 80px);
    }
}