footer {
  position: sticky;
  top:100vh;
}

footer a:hover, footer button:hover {
  text-decoration: underline;
}

.briefInfo {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    width: 100%;
    padding: 20px;
  }
  .briefinfo div {
    width: fit-content;
}

footer h2 {
  margin-bottom: 10px;
}

.briefinfo div ul {
    display: flex;
    flex-direction: column;
}

.CopyrightAndManofacturerInfo {
    background-color: #212427;
    height: 45px;
    display: flex;
    align-items: center;
  }
  
.CopyrightAndManofacturerInfo p {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
  
.logo {
    align-self: center;
    background-color: white;
} 

.IconAndTextContainer {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .briefInfo {
    flex-direction: column;
    row-gap: 20px;
  }

.logo {
    align-self: flex-start;
  }
}