.unavalible, .unavalible a {
	margin:auto;
}

.unavalible h2, .unavalible p {
	text-align: center;
}

.unavalible :nth-child(2) {
	margin-top: 20px;
	margin-bottom: 20px;
}

.rateLimitInfo {
	display:block;
	margin-top: 10px;
	width: 100%;
}