.newsPageWholeContent {
  width:calc(120ch + 21px);
  max-width: 100%;
  margin:auto;
}

.newsPageWholeContent.onlyText {
  width: 80ch;
}

.categoryMenuContainer {
  margin: 40px 0px 40px;
}

.currentPageInfo {
  text-align: center;
}

.announcmentContainer {
  max-width:80ch;
  margin:auto;
}

.announcmentContent {
  margin-top: 20px;
  max-width: 100%;
}

.showAside.announcmentContent {
  display: grid;
  grid-template-columns: max-content 40ch;
  column-gap: 20px;
}

.announcmentContent .attachments {
  border-left: 1px solid darkgray;
}

.attachments {
  max-width: fit-content;
}

.attachments > div {
  margin-left: 20px;
  position: sticky;
  top: 10px;
}

.attachments > div div:last-of-type {
  margin-top: 20px;
}

.attachments > div > div li {
  margin-left: 20px;
}

.attachments > div > div h3 {
  margin-bottom: 10px;
}

.attachments > div a:last-of-type {
  margin-top: 6px;
}

.attachmentsList a:hover {
  text-decoration: underline;
}

h1.announcmentTitle {
  margin-bottom: 20px;
}

.announcmentContainer h1 {
  font-size: 22pt;
}

.announcmentContainer h4 {
  font-size: 12pt;
}

 .announcmentContainer h2 {
  font-size: 18pt;
 }

.announcmentContainer h3 {
  font-size: 14pt;
}

img.announcmentThumbnail {
  background-color: #eeeeee;
  
}

figure.thumbnailWrapper.noAside {
  width: 80ch;
}

figure.thumbnailWrapper {
  width: 100%;
  aspect-ratio: 1.77777778;
  margin-top:20px;
}

.announcmentContainer p {
  min-height: 20px;
}

.announcmentContainer li, .attachments li {
  position:relative;
  margin:0;
}

.announcmentContainer ul, .announcmentContainer ol {
  margin-left: 50px;
}

.attachments ul {
  margin-left: 20px;
}

.announcmentContainer ul {
  list-style: none;
}

.announcmentContainer ul > li::before, .attachments ul > li::before {
  font-size:15px;
  position:absolute;
  left:-20px;
  content: "\25a0";
  color:rgba(0,0,0,0.6);
}

.announcmentContainer a:hover {
  text-decoration: underline;
}

.announcmentContainer ol {
  counter-reset: item;
}

.announcmentContainer ol > li::before {
  content: counter(item, lower-latin) ")"; 
    counter-increment: item;
    position:absolute;
    left:-20px;
}

.announcmentContainer a {
  word-wrap: break-word;
}

@media screen and (max-width: calc(120ch + 59px)) {
  .announcmentContent {
    grid-template-columns: max-content auto;
  }

}

@media screen and (max-width: calc(80ch + 40px + 39ch)) {
  .showAside.announcmentContent {
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: max-content;
  }

  .showAside.announcmentContent .attachments {
    max-width: 100%;
    border-left: unset;
    border-top: 1px solid darkgray;

  }

  .attachments > div {
    margin: 20px auto auto auto;
  }
}

@media screen and (max-width: calc(80ch + 39px)) {
  figure.thumbnailWrapper.noAside {
    width: 100%;
  }
}