.pagesNavigation {
	display: flex;
	justify-content: center;
	align-items:center;
	column-gap:20px;
	margin-top: 40px;
	width: 100%;
}

.pagesNavigation a.disabled, .pagesNavigation button:disabled {
pointer-events: none;
opacity:0.5;
cursor: not-allowed;
}

.pagesNavigation a.hidden {
	visibility: hidden;
}

.pagesNavigation .mobile {
	width:45px;
	height: 45px;
	text-align: center;
}

.pagesNavigation .mobile img {
	display: inline-block;
	margin:auto;
}

.pagesNavigation a.mobile img {
	margin-top: 5px;
}

.back img {
	rotate: 180deg;
}

a.back img {
	margin-bottom: 5px;
}

@media screen and (max-width: 600px) {

	.pagesNavigation .desktop {
		display:none;
	}

}

@media screen and (min-width: 600px) {
	.pagesNavigation .mobile {
		display:none;
	}
}